# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.DiscordNet.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Development\TestingSite\Bot\DiscordNet\.idea\.idea.DiscordNet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
